arrow {margin: 3px 5px} /*выравнивание стрелок комбобоксов*/
window>box>buttonbox {margin: -5px 0px 0px 0px} /*кнопки запуска*/
window>box>box>image {margin: -10px 5px 5px 5px} /*иконка запуска ярлыка*/
window>box>label {background: #09bec8; color: #000000; margin:3px 0px 10px 0px; padding: 5px} /*текст запуска ярлыка*/
separator {margin: 0px 0px 0px 0px; background-size:0px} /*скрываем сепаратор*/
window>box>grid {margin: 0px 0px 10px 0px} /*отступ снизу для слайдера от нижних кнопок в окне vkBasalt*/
check {min-height: 24px; min-width: 24px} /*увеличиваем чекбоксы*/
window>box>box>box>image {margin: 15px 10px 0px 5px} /*иконка в создании ярлыка*/
window>box>box>grid {margin: 0px 5px 0px 0px} /*отступ справа для комбобоксов*/
cellview,entry {min-height: 26px}  /*высота комбобоксов, т.к. некоторые темы их делают меньше и вёрстка съезжает*/
switch {margin: 7px 10px 0px 20px}  /*переключатели mangohud и т.д. (в дефолтных темах gtk отступы необходимы. В то время как в некоторых темах выглядит больше, чем нужно. Пример qogir)*/

window>box>box>label {background: #09bec8; color: #000000; margin:3px 0px 0px 0px; padding: 50px} /*текст при создании ярлыка и в настройках*/
